.article{
    min-width: 600px;
    background-color: hsl(9, 100%, 64%, .6);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 30px 50px;
    backdrop-filter: blur(10px);
    &Title{
        font-size: 40px;
        margin-block-end: 0.3em;
        text-align: center;
        color: white;
    }
}

